// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Cores Padrao

$gray50: #f9fafb;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray500: #6b7280;
$gray600: #4b5563;
$gray700: #374151;
$gray800: #1f2937;
$gray900: #111827;

$violet50: #f5f3ff;
$violet100: #ede9fe;
$violet200: #ddd6fe;
$violet300: #c4b5fd;
$violet400: #a78bfa;
$violet500: #8b5cf6;
$violet600: #7c3aed;
$violet700: #6d28d9;
$violet800: #5b21b6;
$violet900: #4c1d95;

$lime50: #f7fee7;
$lime100: #ecfccb;
$lime200: #d9f99d;
$lime300: #bef264;
$lime400: #a3e635;
$lime500: #84cc16;
$lime600: #65a30d;
$lime700: #4d7c0f;
$lime800: #3f6212;
$lime900: #365314;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
