.esquerda {
    background-color: coral;
    height: 70vh;
    padding: 10px;
    margin: 10px;
}

.direita {
    background-color: green;
    height: 70vh;
    padding: 10px;
    margin: 10px;
}

.servicos {
    background-color: red;
    height: 45%;
    margin: 10px;
}
.status {
    background-color: yellow;
    height: 45%;
    margin: 10px;
}
